/*  utility classes means */

.border{
    border: 1px solid red;
    margin: 3px;
}

.flex{
     display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-2{
    margin: 5px;
}

.p-1{
    padding:10px;
}
 
/* Style for the entire scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
    background: #2e2e2e; /* Background of the track */
    border-radius: 10px; /* Rounded corners of the track */
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #555; /* Background of the thumb */
    border-radius: 10px; /* Rounded corners of the thumb */
    border: 3px solid #2e2e2e; /* Space between the thumb and the track */
}

/* Style for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; /* Background of the thumb on hover */
}

/* Style for the scrollbar thumb on active */
::-webkit-scrollbar-thumb:active {
    background: #aaa; /* Background of the thumb when active */
}
